<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body style="background-color: #f8f8f8"> 
    <%- include('shared/headerc') %>

    <% for(let comentario of comentarios) { %>
        
        <div class="coment">
            
            
                <h2><%= comentario.titulo %> </h2>

                <div class="email">

                        <p><%= comentario.email %> <p>

                </div> 
            <div class="block">

                                    <p><%= comentario.mensagem %> </p>

                </div>

        </div>
    

        
        
        
        <% } %>
    </body>
    </html>